body {
    color: #383838;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin:0;
   }
h1,
h2 {
    text-align: center;
}



h1 {
    color: black;
    font-size: 40px;
    border-bottom: 2px solid black;
}

h2 {
    border-bottom: 2px solid #383838 ;
}

h3 {
    text-align: left;
}
a {
    font-style: italic;
}

.tabulka {
    margin-left: auto;
    margin-right: auto;
}

th,
td{
    text-align: left;
}
.fyzio {
    text-align: center;
}
.foto_ja {
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.obsah {
    display: flex;
}

.vlevo {
    width: 900px;
    padding: 3%;
    background-color: #E6E6FA;
}

.vpravo {
    width: 900px;
    padding: 3%;
    background-color:snow ;
}

.paticka{
    text-align: center;
}